# Core Dependencies
fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

# ML/AI
ultralytics
opencv-python
torch
torchvision
pillow
numpy

# Database
sqlalchemy
alembic
aiofiles==25.1.0